
.env


# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
.venv-wsl/
env/

# Git
.git/
.gitignore

# IDE
.vscode/
.idea/

# Database
db.sqlite3

# Media
media/

# Static
staticfiles/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db
